@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}
<br />

@if (Model.Copouns.Count() > 0)
{
    <div class="border row">
        <div class="carousel" data-ride="carousel" data-interval="2500">
          var base64=convert
        </div>
    </div>
}

