@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Confirm";
}


<br />
<div class="whiteBackGround">
<div class=" row px-3">

    <div class="col-8">
        <h2 class="text-info"> Ordere Confirmed</h2>
    </div>

    <div class="col-4 text-right">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">New Order</a>
    </div>

    </div>


        @if (Model.OrderHeader != null)
        {
            <div class="p-3" style="color:maroon">
                Your order has been confirmed ! please see the order summary
                <br/>
                feel free to contact us if you have any questions
            </div>
          
            <partial name="_IndividualOrderDetails" model="@Model"/>
        }
        else
        {
            <div class="text-danger">
                Error ..... please try again
                </div>

        }



</div>

