<div class="row">
    <div class="col-6">
        <button type="submit" class=" btn btn-danger form-control" ><i class="fa-solid fa-trash"></i>&nbsp; Delete</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-outline-dark form-control">Back to list</a>
    </div>
</div>