@model int
<div class="row">
    <div class="col-6">
        <a class=" btn btn-info form-control" asp-action="Edit" asp-route-id="@Model" ><i class="fa-solid fa-pen-to-square"></i>&nbsp; Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-outline-dark form-control">Back to list</a>
    </div>
</div>